div.wrapper
    p.hello Hello Hello, my name is #{name}, &amp, my dog's name is #{dog}!
    span#happy Happy?
    p 
        // img.dog(src="dog.png" alt="Dog's name is #{dog}")
        img.dog(src="./images/Hulk.png" alt=`Dog's name is ${dog}`)

h2
    | Hello? 
    em How are you?